dist: trusty
language: python
python:
- 2.7
- 3.5
- 3.6
addons:
  apt:
    packages:
    - libhdf5-dev
cache: pip
install:
- pip install tox
- pip install .
script:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then tox -e py27; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.5 ]]; then tox --skip-missing-interpreters; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then tox -e py36; fi
before_deploy:
- pip install twine
deploy:
  provider: pypi
  user: bbp.opensource
  password:
    secure: RLw7z7fd3Xisq4E34H+QnwwnQX1LbSa64vT/Vxex9AY3eS7tc4svj8RNL+iQBvAr//zh80H6ZECM6h334lOrgrjbkl60KDjXFxTBIsec0x7vT10UqH/tPzWBmSyF6kdaRNMIqVBKpHIxiEf/fYiFUq5sWPSkMXp66jpgPGwzatA0Oxc43TOXmYHzHYvSeALYfRpHVdwQSFh09qwU01AyRGXU68prEKxEp0QFo8hSeTMIQqSQbz/70vhEgGhGxyff6Y39aDScma+U62iEK3oJk6R3t3O3dXxPRSmTrZUji3sGS/5S6mYs+1Haj0qtqjXCbjJyg6h1uQjyZ4MotuOxiyj2HRuE4/Skqv+w0XlddwTlZl7BmOqL75JXM4JUh/U/ctajePAl51qamMdxpC210b78R59F61i0UXtdfk379Z/8hvMreWrtOwFV+W1j5ybqDqQAko0R6Os+gTcj5KC2KexctZkRNm442YaRX53f+thnssAOtSaSvQIiXi5sVMtJDUjIJGRTsW9HfoEGz9w8WCv1sDQ5qYJj49sLressIzJAleJ2ha9X+95f329mkpQA79cXf5mPVYaBOaRhCtE6wBoOQICJEnbccMlFR8IPXL4LHFbwl1hvOW4152/o5MZsXQ161jQ0tKHO5+6hOAztRKYYPN1/xxFPDNZMfr535ac=
  on:
    branch: master
